<button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#youSureModal" #youSureModal></button>

<div class="modal fade" id="youSureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Jesteś pewny?</h1>
        <button class="btn" (click)="sureCheck(true)" data-dismiss="modal">Tak chcę to zrobić.</button>
        <button class="btn" (click)="sureCheck(false)" data-dismiss="modal">Pomyliłem się.</button>
      </div>
    </div>
  </div>
</div>
