<div class="col-12 text-desc">Twoje urządzenia</div>
<div class="elementsDiv" *ngIf="devices?.length">
      <div *ngFor="let device of devices; let i = index" class="singleElement row p-0" >
        <div class="col-lg-10 elementDesc col-8" (click)="nextStep(i)">
          {{device.name}} <span class="idElement">id: {{device.id}}</span>
        </div>
        <div (click)="delete(i)" class="col-lg-1 col-2 del-btn text-center smallBtn"><i class="fas fa-trash del-icon"></i></div>
        <div (click)="edit(i)" class="col-lg-1 col-2 settings-btn text-center smallBtn"><i class="fas fa-cog edit-icon"></i></div>
      </div>
</div>
<div class="noDataDiv" *ngIf="!devices?.length">
  <div class="noDataText"><i class="fas fa-exclamation-triangle"></i> Niestety nie masz jeszcze żadnych urządzeń.</div>
</div>


