.text-div {
  background-color: #F8961E;
  padding: 100px 0 100px 0;
  text-align: center;
  margin: 0;
  font-size: 45px;
}
.devices {

}
.single-device {
  cursor: pointer;
  text-align: center;
  padding: 25px;
  font-size: 33px;
  background: green;
}
.single-device:hover {
  color: lightgreen;
}


@media (min-width: 992px) {
  .text-div {
    min-height: calc(100vh);
    padding: 0;
  }
}
