.text-div {
  padding: 100px 0 100px 0;
  margin: 0;
}
.logoDiv {
  font-size: 35px;
  position: relative;
  margin: 0;
  background-color: var(--main);
  min-height: 280px;
}
.imgDiv {
  text-align: center;
}
.img-logo {
  border-radius: 15px;
}
.panelDiv {
  padding-left: 100px;
  font-size: 25px;
}
.panelDiv > div {
  cursor: pointer;
  margin-top: 15px;
  transition: all ease 0.4s;
}
.panelDiv > div  i {
  transition: all ease 0.5s;
}
.panelDiv > div:hover {
  transform: scale(1.04);
}
.smallPanel {
  width: 100%;
  position: absolute;
  bottom: 22px;
}

@media (min-width: 992px) {
  .text-div {
    min-height: calc(100vh);
    padding: 0;
  }
}
