/* You can add global styles to this file, and also import other style files */
.text-desc {
  background: #F8961E;
}
.del-btn {
  background-color: red !important;
}
.settings-btn {
  background-color: cornflowerblue !important;
}
