/* You can add global styles to this file, and also import other style files */
html {
  --main: #7EB356;
  --mainHover: #72ca33;
  --second: #FCE5B0;
  --secondHover: #FCE5B0;
  --dgr: #F94144;
  --third: #577590 !important;
}
.text-desc {
  background: var(--main);
  font-size: 23px;
  padding: 15px 0 15px 0;
}
@media(max-width: 992px) {
  .text-desc {
    background: #5c853c;
    padding: 10px 0 10px 10px;
    font-size: 18px;
  }
}
.del-btn {
  background-color: var(--dgr) !important;
}
.btn-login {
  border-radius: 15px;
  font-size: 19px;
  background: #F9C74F;
  transition: all ease 0.4s;
}
.btn-add {
  border-radius: 15px;
  font-size: 19px !important;
  background: var(--main);
  transition: all ease 0.4s;
}
.btn-add:hover {
  background: var(--mainHover);
}
.btn-login:hover {
  background: #F8961E;
}
.settings-btn {
  background-color: #277DA1 !important;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}
.modal-title {
  font-size: 25px;
}
.modal-content {
  border-radius: 15px;
}
.modal-body .form-control {
  height: 45px;
}
input {
  font-size: 19px !important;
}
.close:focus, .close:active {
  outline: none !important;
  box-shadow: none;
}
.elementsDiv {
  margin: 10px;
}
.singleElement {
  margin: 0 0 10px 0;
  transition: all ease 0.4s;
  border: 3px solid #F7B926;
  border-radius: 7px;
  cursor: pointer;
  padding: 25px;
  font-size: 33px;
  background: var(--second);
}
.noDataDiv {
  padding: -50px;
  margin: 15px;
}
.noDataText {
  font-size: 25px;
  color: var(--dgr);
}
.idElement {
  font-size: 17px;
  color: #9f9f9f;
}
.elementDesc {
  font-size: 28px;
}
.singleElement:hover {
  background: var(--secondHover);
}
@media (max-width: 992px) {
  .smallBtn {
    font-size: 23px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
