/* You can add global styles to this file, and also import other style files */
html {
  --main: #7EB356;
}
.text-desc {
  background: var(--main);
  font-size: 23px;
  padding: 15px 0 15px 0;
}
.del-btn {
  background-color: #F94144 !important;
}
.btn-login {
  border-radius: 15px;
  font-size: 19px;
  background: #F9C74F;
  transition: all ease 0.4s;
}
.btn-add {
  border-radius: 15px;
  font-size: 19px !important;
  background: #90BE6D;
  transition: all ease 0.4s;
}
.btn-add:hover {
  background: #67c467;
}
.btn-login:hover {
  background: #F8961E;
}
.settings-btn {
  background-color: #277DA1 !important;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}
.modal-title {
  font-size: 25px;
}
.modal-content {
  border-radius: 15px;
}
.modal-body .form-control {
  height: 45px;
}
input {
  font-size: 19px !important;
}
.close:focus, .close:active {
  outline: none !important;
  box-shadow: none;
}
.elementsDiv {
  margin: 10px;
}
.singleElement {
  margin: 0 0 10px 0;
  transition: all ease 0.4s;
  border: 3px solid #F7B926;
  border-radius: 7px;
  cursor: pointer;
  padding: 25px;
  font-size: 33px;
  background: #FCE5B0;
}
.noDataDiv {
  padding: -50px;
  margin: 15px;
}
.noDataText {
  font-size: 25px;
  color: #F94144;
}
.idElement {
  font-size: 17px;
  color: #9f9f9f;
}
.elementDesc {
  font-size: 28px;
}
.singleElement:hover {
  background: #ffd773;
}
